* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, black, rgba(0, 0, 0, 0.842));
  width: 100vw;
  height: 100vh;
}

.calculadora {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: 375px;
  padding: 22px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.493);
  border-radius: 50px;
}

#visor-container {
  display: flex;
  border: 2px solid rgba(211, 211, 211, 0.205);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.432);
  width: 375px;
  height: 90px;
  border-radius: 50px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.089);
  text-align: right;
}

#visor-calculadora {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  font-size: 55px;
  color: white;
  width: 80%;
  height: 80%;
  max-width: 9ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#c {
  width: 225px;
  border-radius: 50px;
  background-color: gray;
}

#igual {
  width: 150px;
  border-radius: 50px;
}

.numero {
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgba(128, 128, 128, 0.247);
  border: 0px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.226);
  color: white;
  font-size: 27px;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  position: relative;
}

.numero:hover {
  border: 1px solid rgba(255, 90, 30, 0.836);
  cursor: pointer;
}

.numero:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.295);
  transform: scale(1.04);
  transition: all;
}

.btn-laranja {
  background-color: rgba(255, 90, 30, 0.836);
  color: white;
}

.btn-laranja:hover {
  border: 1px solid white;
}
